@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
  --accent: #EA5959;
  --default: rgba(0, 0, 0, 0.3);
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--accent);
  height: 100vh;
  display: flex;
  justify-content: center;
  font-style: 18px;
  font-weight: 300;
}

.todo {
  overflow-y: auto;
  padding: 32px;
  background-color: #fff;
  width: 90vh;
  background-repeat: 15px;
}

.todo__new {
  height: var(--tabSize);
  --tabSize: 40px;
  display: flex;
  margin: 16px 0px 32px;
}

.todo__new input {
  border: 1px solid var(--default);
  border-radius: 5px;
  margin-right: 15px;
  font-style: 18px;
  font-weight: 300;
  padding: 8px 12px;
  flex-grow: 1;
}

.todo_add {
  text-align: center;
  height: var(--tabSize);
  width: 60px;
  line-height: var(--tabSize);
  font-size: 18px;
  font-weight: 400;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: var(--accent);
  color: #fff;
  cursor: pointer;
}

.todo__list {
  max-width: 100%;
}

.todo__list > *:not(:last-child){
  margin-bottom: 8px; 
}

.todo__task {
  --size: 32px;
  display: flex;
  min-height: var(--size);
  align-items: center;
  cursor: default;
}

.todo__task_complete .todo__task-text {
  text-decoration: line-through;
  color: var(--default);
}

.todo__task:hover .todo__task-del {
  display: block;
}

.todo__checkbox {
  margin-right: 16px;
}

.todo__checkbox input {
  display: none;
}

.todo__checkbox input:checked + div {
  background-color: var(--accent);
}
.todo__checkbox input:checked + div::after {
  display: block;
}

.todo__checkbox div {
  --size: 20px;
  height: var(--size);
  width: var(--size);
  border: 1px solid var(--accent);
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  color: #fff;
}

.todo__checkbox div::after {
  content: url('https://api.iconify.design/material-symbols/check.svg?color=white');
  display: none;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 1px;
}

.todo__task-text {
  font-size: 17px;
  width: 83%;
  overflow-x: auto;
}

.todo__task-del {
  display: none;
  background: url('https://api.iconify.design/ion/trash-outline.svg') no-repeat center center / contain;
  content: url('https://api.iconify.design/ion/trash-outline.svg');
  height: 100%;
  width: 18px;
  margin-left: auto;
  margin-right: 0;
  cursor: pointer;
}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
  select,
  textarea,
  input {
    font-size: 16px;
  }
}